.Start {
    text-align: center;
}

.Start img {
    position: absolute;
    height: 30%;
    top: 22%;
    left: 4%;
    z-index: 100;
}

.Start h3 {
    position: absolute;
    top: 30%;
    left: 8%;
    color: red;
    z-index: 100;
    font-size: 2em;
    font-family: 'Shrikhand', cursive;
}

.Start button {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    color: white;
    border: none;
    font-size: 2em;
    bottom: 20%;
    right: 20%;
    z-index: 100;
}